---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectTile from "../components/ProjectTile.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />

		<!-- hero image -->
		<img class="rounded-lg" src="/assets/thinker.png" />

		<main>
			<section class="m-8">
				<div class="grid grid-cols-3">
					{posts.map((post) => <ProjectTile post={post} />)}
				</div>
			</section>
		</main>

		<Footer />
	</body>
</html>
