---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<header class="relative">
	{isActive && <img src="/assets/thinker.png" />}
	<nav
		class:list={[
			{ "absolute top-0 left-0 pl-4 pt-16": isActive },
			"pb-4 h-full bg-gradient-to-r from-black to-transparent",
		]}
	>
		{
			isActive ? (
				<h1 class="text-3xl">{SITE_TITLE}</h1>
			) : (
				<a class="text-gray-500 hover:text-white" href="/">
					<h1 class="text-3xl">{SITE_TITLE}</h1>
				</a>
			)
		}
	</nav>
</header>
