---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="py-4 flex justify-between items-center">
	<h1 class="text-3xl">
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
	</nav>
</header>
