---
const { images, ...props } = Astro.props;
---

<div class="m-8 grid grid-cols-4 gap-4">
    {
        images.map((image: string) => (
            <img src={`/assets/${image}`}/>
        ))
    }
</div>