---
const { post, ...props } = Astro.props;
---

<a
    class="
        inline-block
        flex flex-col items-center
        group relative"
    href={post.url}
>
    <img
        class="
            group-hover:border-4
            rounded-full object-cover overflow-hidden
            scale-90
            shadow-white
            group-hover:scale-100 group-hover:shadow-xl
            transition ease-in-out
            "
        src={`/assets/${post.frontmatter.thumbnailImage}`}
        alt={post.frontmatter.title}
    />
    <div
        class="
            absolute
            h-full w-full
            grid content-center
            "
    >
        <span class="
            text-2xl font-bold text-center text-transparent group-hover:text-gray-300
            group-hover:drop-shadow-[0_2px_2px_rgba(0,0,0,1)]
            transition ease-in-out
            "
        >
            {post.frontmatter.title}
        </span>
    </div>
</a>
